.App {
  text-align: center;

}

/* Agora, colocando um degradê */
.gradient {
  /* Primeiro passo: definir um degradê como fundo */
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: turquoise;
}

/* Não relacionado ao degradê, apenas para melhorar a visualização */
h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
}